:root {
  /* Color */
  --Grey-900: hsl(0 0% 8%);
  --Grey-800: hsl(0 0% 12%);
  --Grey-700: hsl(0 0% 20%);
  --green: hsl(75 94% 57%);
  --white: hsl(0 0% 100%);

  /* Typography */
  --ff-base: "Inter", sans-serif;

  /* Text Preset */
  --fs-1: 1.5rem; /* 24px – Display/Name */

  --fs-2: 0.875rem; /* 14px – Body */

  --fs-3: 0.875rem; /* 14px – Label (fw-600) */

  --lh-default: 1.5;

  --ls-default: 0;

  /* Font weights */
  --fw-400: 400;
  --fw-600: 600;
  --fw-700: 700;

  /* Spacing */
  /* preferred = minPx + ( (maxPx - minPx) / (1440px - 375px) ) * 100vw */
  --space-500: clamp(1.5rem, 1.5rem + 1.5vw, 2.5rem); /* 24 → 40px */
  --space-300: clamp(1rem, 1rem + 0.75vw, 1.5rem); /* 16 → 24px */
  --space-200: clamp(0.75rem, 0.75rem + 0.38vw, 1rem); /* 12 → 16px */
  --space-150: clamp(0.5rem, 0.5rem + 0.38vw, 0.75rem); /* 8 → 12px */
  --space-100: clamp(0.25rem, 0.25rem + 0.38vw, 0.5rem); /* 4 → 8px */
  --space-50: 0.25rem; /* 4px */

  /* Radius & Shadow */
  --radius-150: 0.75rem;
  --radius-100: 0.5rem;
  --shadow-50: 0 4px 4px rgba(0, 0, 0, 0.25);

  /* Component*/
  --bg-color: var(--Grey-900);
  --bg-card: var(--Grey-800);
  --text-primary: var(--white);
  --text-secondary: var(--green);
  --brand: var(--green);
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  font-family: var(--ff-base);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-500);
}
.card {
width: clamp(20.4375rem, 87.2vw, 24rem);
  height: 38.1875rem;
  background-color: var(--bg-card);
  padding: var(--space-500);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: var(--radius-150);
}

.profile-pic {
  width: 5.5rem;
  border-radius: 100%;
}
h1 {
  margin: 0;
  padding: 0;
  font-size: var(--fs-1);
  font-weight: var(--fw-700);
  line-height: var(--lh-default);
  letter-spacing: var(--ls-default);
  color: var(--text-primary);
}
h2 {
  margin: 0;
  padding: 0;
  color: var(--text-secondary);
  font-size: var(--fs-2);
  font-weight: var(--fw-600);
  line-height: var(--lh-default);
  letter-spacing: var(--ls-default);
  text-align: center;
}
p {
  margin: 0;
  padding: 0;
  color: var(--text-primary);
  font-size: var(--fs-3);
  font-weight: var(--fw-400);
  line-height: var(--lh-default);
  letter-spacing: var(--ls-default);
}
.button {
  width: 100%;
  background-color: var(--Grey-700);
  text-align: center;
  font-size: var(--fs-2);
  font-weight: var(--fw-600);
  line-height: var(--lh-default);
  padding: var(--space-150);
  color: var(--text-primary);
  border: 1px solid var(--Grey-700);
  border-radius: var(--radius-100);
  transition: background-color 2s;
}

.button:hover {
  cursor: pointer;
  background-color: var(--brand);
  color: black;
}
@media (prefers-reduced-motion: reduce) {
  .button {
    transition: none; /* animasyonu kapat */
  }
}